{% load static %}
{% load humanize %}
<div class="comment mb-3 p-3 border rounded">
    <div class="d-flex align-items-center mb-2">
      <img src="{% if comment.user.profile.profile_img %}{{ comment.user.profile.get_profile_img_url }}{% else %}{% static 'path/to/default.jpg' %}{% endif %}" alt="Avatar" class="rounded-circle me-2" width="40" height="40">
      {% comment %} <img src="{% if comment.user.profile.avatar %}{{ comment.user.profile.profile_img }}{% else %}{% static 'path/to/default.jpg' %}{% endif %}" alt="Avatar" class="rounded-circle me-2" width="40" height="40"> {% endcomment %}
      <p class="text-muted mb-0" style="font-size: 12px;">
        <i>{{ comment.user }} • {{ comment.created_at | naturaltime }}{% if comment.edited %} • Edited {{ comment.edited_at | naturaltime }}{% endif %}</i>
      </p>
    </div>
    <p>{{ comment.desc }}</p>
    <div class="d-flex justify-content-end">
      {% if request.user == comment.user %}
        <a href="{% url 'edit-comment' comment.id %}" class="btn btn-sm btn-warning me-2">Edit</a>
        <form method="post" action="{% url 'delete-comment' comment.id %}" style="display:inline;">
          {% csrf_token %}
          <input type="submit" value="Delete" class="btn btn-sm btn-danger me-2">
        </form>
      {% endif %}
      <a href="#" class="btn btn-sm btn-primary" onclick="document.getElementById('reply-form-{{ comment.id }}').style.display='block'">Reply</a>
    </div>
    <div id="reply-form-{{ comment.id }}" style="display:none;">
      <form method="post" action="{% url 'add-comment' forum.id %}">
        {% csrf_token %}
        <input type="hidden" name="parent_id" value="{{ comment.id }}">
        <textarea name="desc" class="form-control mb-2" rows="2" placeholder="Enter your reply" required=True></textarea>
        <button type="submit" class="btn btn-sm btn-success">Submit</button>
      </form>
    </div>
    <div class="replies">
      {% for reply in comment.replies.all %}
        {% include "comment.html" with comment=reply %}
      {% endfor %}
    </div>
</div>
