{% extends "base.html" %}

{% load humanize %}

{% block title %} {{object.title}} {% endblock %}
{% block content %}
<div class="container my-5">
  <div class="jumbotron p-4">
    <h1 class="display-4">{{object.title}}</h1>
    {% if request.user == object.user %} 
    <div class="d-flex justify-content-end mb-3">
      <a href="{% url 'forum-edit' object.id %}" class="btn btn-warning me-2">Edit</a>
      <form method="post" action="{% url 'forum-delete' object.id %}" style="display:inline;">
        {% csrf_token %} 
        <input type="submit" value="Delete" class="btn btn-danger">
      </form>
    </div>
    {% endif %}
    <p class="lead">{{ object.desc }}</p>
    <p class="text-muted">- <i>{{object.created_at | naturaltime}}</i></p>
    <p class="text-muted">by <a href="{% url 'forum-by' object.user %}">{{ object.user }}</a></p>
    <hr>
    <h3>Bình luận</h3>
    <div class="comments-section mb-4">
      {% for comment in parent_comments %}
        {% include "comment.html" with comment=comment %}
      {% endfor %}
    </div>
    <form method="post" action="{% url 'add-comment' forum.id %}">
      {% csrf_token %}
      <textarea name="desc" class="form-control mb-2" rows="3" placeholder="Enter your comment" required=True></textarea>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
